<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/headerNav :: common_head"></head>
<body>
<div th:replace="components/headerNav :: header (authenticated='true', user=${user})"></div>
<br /><br />
<div class="container">
    <div class="row">
        <div th:if="${param.success}">
            <div>
                <p>Welcome, [[${user.getFullName()}]].</p>
            </div>
        </div>
        <h1 class="text-center"> Dashboard </h1>

        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Unassigned Looked After Children profiles</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>