<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/headerNav :: common_head"></head>
<body>
<div th:replace="components/headerNav :: header (authenticated='true', user=${user})"></div>
<br /><br />
<div class="container">
    <div class="row">
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid Email or Password</div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-success"> You have been logged out.</div>
        </div>

        <div th:if="${param.success}">
            <div class="alert alert-info">
                You have successfully logged into our app!
            </div>
        </div>

        <h1 class="text-center"> Dashboard </h1>
    </div>
</div>
</body>
</html>