<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="components/headerNav :: common_head"></head>
<body>
<div th:replace="components/headerNav :: header (authenticated='true', user=${user})"></div>
<br /><br /><br />
<div class="container">
  <div class="row">
    <h1 class="text-left">Meeting notes for [[${lacUser.getFullName()}]]</h1>
  </div>

  <div class="p-3 mb-2 bg-success text-dark" th:if="${param.successDelete}">
    <p>Successfully deleted meeting note.</p>
  </div>

  <div class="row">
    <div class="col-md-8 justify-content-md-center">
      <div class="card">
        <div th:if="${meetingNotePage.getTotalPages() == 0}">
          <p class="card-text">[[${lacUser.getFullName()}]] has no meeting notes recorded.</p>
          <span> Add meeting note for [[${lacUser.getFullName()}]]
            <a th:href="@{'/addMeetingNote/' + ${lacUser.getUid()}}">here</a>
          </span>
        </div>
        <div th:else th:each="mn : ${meetingNotePage.content}">
          <div class="card-header">
            <h2 class="text-left">[[${mn.getTitle()}]]</h2>
          </div>
          <div class="card-body">
            <p class="card-text">[[${mn.getDisplayCreatedDate()}]]</p>
            <p class="card-text">[[${#strings.abbreviate(mn.getNotes(),100)}]]</p>
            <div class="btn-group" role="group">
              <a th:href="@{'/viewMeetingNote/' + ${lacUser.getUid()} + '/' + ${mn.getId()}}" class="btn btn-primary">View full note</a>
              <form method="post" role="form" th:action="@{'/deleteMeetingNote/' + ${lacUser.getUid()} + '/' + ${mn.getId()}}">
                <button type="submit" name="submit" value="value" class="btn btn-secondary">Delete</button>
              </form>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <nav aria-label="Pagination" th:if="${meetingNotePage.totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==meetingNotePage.number + 1} ? 'page-item active' : 'page-item'">
          <a th:href="@{/viewMeetingNotes/{lacUid}(lacUid=${lacUser.getUid()}, size=${meetingNotePage.size}, page=${pageNumber})}" th:text="${pageNumber} " class="page-link"></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</body>
</html>